.nav__link {
  text-decoration: none;
  color: white;
  -webkit-transition: opacity linear 0.5s;
  transition: opacity linear 0.5s;
}

.nav__link:hover {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}