@import url(./__place/places__place.css);

.places {
  font-family: "Inter", Arial, sans-serif;
  max-width: 984px;
}

@media (max-width: 1024px) {
  .places {
    max-width: 928px;
    width: 90.625%;
  }
}

@media (max-width: 768px) {
  .places {
    max-width: 720px;
    width: 93.75%;
  }
}

@media (max-width: 375px) {
  .places {
    width: 100%;
    padding: 0;
  }
}
