@import url(./__text/text-container__text.css);
@import url(./__span/text-container__span.css);

.text-container {
  font-family: "Inter", Arial, sans-serif;
  list-style-type: none;
  padding: 0;
}

@media (max-width: 1024px) {
  .text-container {
    padding: 7px 0;
  }
}

@media (max-width: 768px) {
  .text-container {
    padding: 9px 0;
  }
}

@media (max-width: 375px) {
  .text-container {
    padding: 17px 0;
  }
}

@media (max-width: 320px) {
  .text-container {
    padding: 20px 2px 0;
  }
}