.cover__subtitle {
  width: 382px;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  z-index: 3;
  margin-bottom: 39px;
}

@media (max-width: 1024px) {
  .cover__subtitle {
    width: 36%;
    margin-bottom: 35px;

  }
}

@media (max-width: 768px) {
  .cover__subtitle {
      width: 50%;
      margin-bottom: 42px;
  }
}

@media (max-width: 400px) {
  .cover__subtitle {
      width: 65%;
  }
}

@media (max-width: 375px) {
  .cover__subtitle {
      width: 72%;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 30px;
  }
}

@media (max-width: 320px) {
  .cover__subtitle {
      width: 85%;
      margin-top: 5px;
      margin-bottom: 22px;
  }
}
