@import url(./__title/video__title.css);
@import url(./__subtitle/video__subtitle.css);

.video {
  font-family: "Inter", Arial, sans-serif;
  box-sizing: border-box;
  max-width: 1184px;
}

@media (max-width: 1280px) {
  .video {
    width: 92.5%;
  }
}

@media (max-width: 1024px) {
  .video {
    max-width: 928px;
    width: 90.625%;
  }
}

@media (max-width: 768px) {
  .video {
    max-width: 720px;
    width: 93.75%;
  }
}

@media (max-width: 375px) {
  .video {
    width: 100%;
  }
}