.header {
  font-family: "Inter", Arial, sans-serif;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  padding-top: 31px;
} 

@media (max-width: 1280px) {
  .header {
    width: 92.5%;
    max-width: 1184px;
  }
}

@media (max-width: 1024px) {
  .header {
    width: 90.625%;
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .header {
    width: 93.75%;
    max-width: 720px;
  }
}

@media (max-width: 570px) {
  .header {
    padding-top: 24px;
  }
}

@media (max-width: 375px) {
  .header {
    width: 91.47%;
    max-width: 343px;
    padding-top: 16px;
  }
}

@media (max-width: 320px) {
  .header {
    width: 90%;
    max-width: 288px;
  }
}
