.footer__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.41;
  color: white;
}

@media (max-width: 970px) {
  .footer__author {
    margin: 0;
  }
}

@media (max-width: 710px) {
  .footer__author {
    padding-bottom: 24px;
    padding-top: 20px;
  }
}
