.place__text {
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: -8px;
  margin-bottom: 32px;
  line-height: 1.7;
}


@media (max-width: 1024px) {
  .place__text {
    line-height: 1.72;
  }
}

@media (max-width: 768px) {
  .place__text {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 35px;
  }
}

@media (max-width: 375px) {
  .place__text {
    padding: 0 16px;
    margin-top: 20px;
    margin-bottom: 4px;
  }
}