.nav__item {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.64;
  padding-right: 20px;
}

@media (max-width: 1024px) {
  .nav__item {
    padding-right: 19px;
  }
}

@media (max-width: 970px) {
  .nav__item {
    font-size: 16px;
    line-height: 27px;
  }
}

@media (max-width: 710px) {
  .nav__item {
    font-size: 24px;
    line-height: 41px;
    padding-bottom: 14px;
  }
}