.video-container__icon-play {
  position: absolute;
  top: 29px;
  left: 30px;
  margin: 0;
  -webkit-animation: pulse 1s ease-in-out infinite alternate-reverse;
          animation: pulse 1s ease-in-out infinite alternate-reverse;
}

@media (max-width: 1024px) {
  .video-container__icon-play {
    top: 30px;
  }
}

@media (max-width: 768px) {
  .video-container__icon-play {
    top: 25px;
    left: 27px;
  }
}

@media (max-width: 375px) {
  .video-container__icon-play {
    left: 24px;
  }
}

@media (max-width: 320px) {
  .video-container__icon-play {
    top: 16px;
    left: 16px;
  }
}