.lead__title {
  max-width: 782px;
  font-size: 6rem;
  font-weight: 900;
  line-height: 0.95;
  text-align: center;
  margin: 57px auto 38px;
  padding: 0 16px;
}

@media (max-width: 768px) {
  .lead__title {
    max-width: 720px;
  }
}

@media (max-width: 700px) {
  .lead__title {
    max-width: 720px;
    font-size: 56px;
    line-height: 60px;
  }
}

@media (max-width: 425px) {
  .lead__title {
    max-width: 329px;
    font-size: 40px;
    line-height: 44px;
  }
}

@media (max-width: 375px) {
  .lead__title {
    margin: 47px auto 0;
  }
}

@media (max-width: 320px) {
  .lead__title {
    max-width: 288px;
  }
}