@import url(./__img/logo__img.css);

.logo{
  -webkit-transition: opacity linear 0.5s;
  transition: opacity linear 0.5s;
  box-sizing: border-box;
}

.logo:hover {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}