
.logo {
  width: 177px;
  height: 52px;
  -webkit-transition: opacity linear 0.5s;
  transition: opacity linear 0.5s;
}

.logo:hover {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

@media (max-width: 375px) {
  .logo {
    width: 142px;
    height: 42px;
  }
}