
.lead__subtitle {
  max-width: 583px;
  font-size: 1.875rem;
  font-weight: 400;
  margin: 39px auto 73px;
  text-align: center;
  padding: 0 16px;
}

@media (max-width: 768px) {
  .lead__subtitle {
    max-width: 650px;
  }
}

@media (max-width: 700px) {
  .lead__subtitle {
    max-width: 720px;
    font-size: 24px;
    line-height: 36px;
  }
}

@media (max-width: 375px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 23px;
    margin: 13px auto 32px;
  }
}

@media (max-width: 320px) {
  .lead__subtitle {
    margin: 13px auto 34px;
  }
}