.video-container__item {
  background-color: #000000;
  max-width: 583px;
  height: 323px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

@media (max-width: 1024px) {
  .video-container__item {
    max-width: 456px;
    height: 288px;
  }
}

@media (max-width: 768px) {
  .video-container__item {
    max-width: 352px;
    height: 200px;
  }
}

@media (max-width: 375px) {
  .video-container__item {
    max-width: 343px;
  }
}

@media (max-width: 371px) {
  .video-container__item {
    max-width: 288px;
    height: 192px;
  }
}

.video-container__item:hover .video-container__wrapper_character_kamchatka {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.video-container__item:hover .video-container__wrapper_character_Observatory {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

