.cards__quote {
  margin: 36px 0 5px;
  line-height: 1.65;
}

@media (max-width: 1024px) {
  .cards__quote {
    margin: 35px 0 7px;
    line-height: 24px;
  }
}

@media (max-width: 780px) {
  .cards__quote {
    font-size: 16px;
    line-height: 23px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 2px 0 7px;
  }
}

@media (max-width: 375px) {
  .cards__quote {
    margin: 4px 0 7px;
  }
}