@import url(./__text/paragraphs__text.css);

.paragraphs {
  font-family: "Inter", Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 484px;
}

@media (max-width: 1024px) {
  .paragraphs {
    max-width: 445px;
  }
}

@media (max-width: 768px) {
  .paragraphs {
    max-width: 355px;
  }
}

@media (max-width: 670px) {
  .paragraphs {
    max-width: 650px;
  }
}
