@media (max-width: 768px) {
  .video__text_character_Observatory {
    left: 27px;
    bottom: 29px;
  }
}

@media (max-width: 375px) {
  .video__text_character_Observatory {
    left: 25px;
    bottom: 30px;
  }
}

@media (max-width: 320px) {
  .video__text_character_Observatory {
    left: 15px;
    bottom: 22px;
  }
}
