@import url(../fonts/fonts.css);

@keyframes pulse {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

.page {
  font-family: "Inter", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  background-color: #2a2c2f;
  color: white;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
}

.content {
  max-width: 1184px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 1280px) {
  .content {
    max-width: 1184px;
    width: 92.5%;
  }
}

@media (max-width: 1024px) {
  .content {
    max-width: 928px;
    width: 90.625%;
  }
}

@media (max-width: 768px) {
  .content {
    width: 100%;
  }
}

/*header*/

.header {
  font-family: "Inter", Arial, sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  padding-top: 31px;
}

@media (max-width: 768px) {
  .header {
    width: 93.75%;
    max-width: 720px;
  }
}

@media (max-width: 570px) {
  .header {
    padding-top: 24px;
  }
}

@media (max-width: 375px) {
  .header {
    width: 91.47%;
    max-width: 343px;
    padding-top: 16px;
  }
}

@media (max-width: 320px) {
  .header {
    width: 90%;
    max-width: 288px;
  }
}

.content__header {
  margin: auto;
}

.logo {
  width: 177px;
  height: 52px;
  transition: opacity linear 0.5s;
}

.logo:hover {
  opacity: 0.5;
}

@media (max-width: 375px) {
  .logo {
    width: 142px;
    height: 42px;
  }
}

.lang-container {
  font-family: "Inter", Arial, sans-serif;
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-bottom: 12px;
}

@media (max-width: 375px) {
  .lang-container {
    padding: 0px 0px 8px;
  }
}

@media (max-width: 320px) {
  .lang-container {
    padding: 0 0px 9px;
  }
}

.lang-container__lang {
  color: white;
  line-height: 0.94;
  list-style: none;
  text-decoration: none;
  padding-left: 20px;
  transition: opacity linear 0.5s;
  font-size: 1.5rem;
  font-weight: 400;
}

@media (max-width: 375px) {
  .lang-container__lang {
    font-size: 18px;
    padding-left: 25px;
  }
}

@media (max-width: 320px) {
  .lang-container__lang {
    padding-left: 19px;
  }
}

.lang-container__lang:focus {
  text-decoration: underline white;
}

.lang-container__lang:hover {
  opacity: 0.5;
}

/*main*/
/*lead*/

.lead {
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  max-width: 984px;
  box-sizing: border-box;
}

.main__lead {
  margin: auto;
}

.lead__title {
  max-width: 782px;
  font-size: 6rem;
  font-weight: 900;
  line-height: 0.95;
  text-align: center;
  margin: 57px auto 38px;
  padding: 0 16px;
}

@media (max-width: 768px) {
  .lead__title {
    max-width: 720px;
  }
}

@media (max-width: 700px) {
  .lead__title {
    max-width: 720px;
    font-size: 56px;
    line-height: 60px;
  }
}

@media (max-width: 425px) {
  .lead__title {
    max-width: 329px;
    font-size: 40px;
    line-height: 44px;
  }
}

@media (max-width: 375px) {
  .lead__title {
    margin: 47px auto 0;
  }
}

@media (max-width: 320px) {
  .lead__title {
    max-width: 288px;
  }
}

.lead__subtitle {
  max-width: 583px;
  font-size: 1.875rem;
  font-weight: 400;
  margin: 39px auto 78px;
  text-align: center;
  padding: 0 16px;
}

@media (max-width: 768px) {
  .lead__subtitle {
    max-width: 650px;
  }
}

@media (max-width: 700px) {
  .lead__subtitle {
    max-width: 720px;
    font-size: 24px;
    line-height: 36px;
  }
}

@media (max-width: 375px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 23px;
    margin: 13px auto 32px;
  }
}

.lead__img {
  width: 100%;
  height: 544px;
  display: block;
  object-fit: cover;
  object-position: center;
  margin: auto;
}

@media (max-width: 900px) {
  .lead__img {
    max-height: 480px;
  }
}

@media (max-width: 768px) {
  .lead__img {
    max-height: 420px;
  }
}

@media (max-width: 670px) {
  .lead__img {
    max-height: 369px;
  }
}

@media (max-width: 572px) {
  .lead__img {
    max-height: 316px;
  }
}

@media (max-width: 474px) {
  .lead__img {
    max-height: 264px;
  }
}

@media (max-width: 375px) {
  .lead__img {
    max-height: 211px;
  }
}

@media (max-width: 375px) {
  .lead__img {
    object-fit: contain;
  }
}

.lead__caption {
  max-width: 636px;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.15em;
  line-height: 12px;
  text-transform: uppercase;
  padding: 7px 0 38px;
}

@media (max-width: 1024px) {
  .lead__caption {
    padding-top: 11px;
  }
}

@media (max-width: 768px) {
  .lead__caption {
    padding-top: 0;
    padding-left: 25px;
  }
}

@media (max-width: 375px) {
  .lead__caption {
    padding-left: 16px;
  }
}

/*intro*/

.intro {
  font-family: "Inter", Arial, sans-serif;
  max-width: 984px;
}

@media (max-width: 1024px) {
  .intro {
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .intro {
    width: 93.75%;
    max-width: 720px;
  }
}

@media (max-width: 375px) {
  .intro {
    width: 91.47%;
    max-width: 343px;
  }
}

.main__intro {
  margin: 0 auto;
}

.intro__title {
  max-width: 100%;
  font-size: 3.375rem;
  font-weight: 900;
  line-height: 1.05;
  margin-bottom: 0;
}

@media (max-width: 375px) {
  .intro__title {
    max-width: 240px;
    font-size: 32px;
    font-weight: 900;
    line-height: 34.75px;
  }
}

@media (max-width: 320px) {
  .intro__title {
    padding-top: 2px;
    margin-left: 2px;
  }
}

.blockquote {
  font-family: "Inter", Arial, sans-serif;
  max-width: 683px;
  min-height: 155px;
  font-size: 0.875rem;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .blockquote {
    max-width: 692px;
  }
}

@media (max-width: 768px) {
  .blockquote {
    max-width: 720px;
  }
}

@media (max-width: 375px) {
  .blockquote {
    max-width: 340px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.25px;
  }
}

@media (max-width: 320px) {
  .blockquote {
    line-height: 27.11px;
  }
}

.blockquote_place_intro {
  line-height: 1.7;
  margin: 37px 0 15px;
}

@media (max-width: 768px) {
  .blockquote_place_intro {
    line-height: 1.72;
  }
}

@media (max-width: 375px) {
  .blockquote_place_intro {
    line-height: 1.72;
    margin: 31px 0 15px;
  }
}

@media (max-width: 320px) {
  .blockquote_place_intro {
    margin: 38px 2px 15px;
  }
}

.text-container {
  font-family: "Inter", Arial, sans-serif;
  list-style-type: none;
  padding: 0;
}

@media (max-width: 1024px) {
  .text-container {
    padding: 7px 0;
  }
}

@media (max-width: 768px) {
  .text-container {
    padding: 9px 0;
  }
}

@media (max-width: 375px) {
  .text-container {
    padding: 19px 0;
  }
}

@media (max-width: 320px) {
  .text-container {
    padding: 20px 2px 0;
  }
}

.text-container__text {
  max-width: 383px;
  font-size: 0.81rem;
  font-weight: 700;
  line-height: 1.58;
}

.text-container__text_thin {
  font-weight: 400;
}

@media (max-width: 375px) {
  .text-container__text {
    font-size: 12px;
    line-height: 19.3px;
  }
}

@media (max-width: 320px) {
  .text-container__text {
    line-height: 19px;
  }
}

/*photos*/

.photos {
  box-sizing: border-box;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /*grid-template-rows: repeat(3, 1fr);*/
  grid-gap: 16px;
}

@media (max-width: 1024px) {
  .photos {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 14px;
  }
}

@media (max-width: 768px) {
  .photos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 0 24px;
    grid-gap: 16px;
  }
}

@media (max-width: 375px) {
  .photos {
    grid-template-columns: 1fr;
    padding: 0 17px;
  }
}

@media (max-width: 320px) {
  .photos {
    grid-gap: 8px;
  }
}

.main__photos {
  margin: 98px auto 0;
}

@media (max-width: 1024px) {
  .main__photos {
    margin: 90px auto 0;
  }
}

@media (max-width: 768px) {
  .main__photos {
    margin: 82px auto 0;
  }
}

@media (max-width: 375px) {
  .main__photos {
    margin: 47px auto 0;
  }
}

@media (max-width: 320px) {
  .main__photos {
    margin: 67px auto 0;
  }
}


.photos__item {
  height: 188px;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .photos__item {
    height: 200px;
  }
}

@media (max-width: 768px) {
  .photos__item {
    height: 234px;
  }
}

@media (max-width: 375px) {
  .photos__item {
    height: 232px;
  }
}

@media (max-width: 320px) {
  .photos__item {
    height: 192px;
  }
}

/*places*/

.places {
  max-width: 984px;
}

@media (max-width: 768px) {
  .places {
    padding: 0 25px;
  }
}

@media (max-width: 375px) {
  .places {
    padding: 0;
  }
}

.main__places {
  margin: 25px auto 0;
}

@media (max-width: 1024px) {
  .main__places {
    margin: 36px auto 0;
  }
}

@media (max-width: 768px) {
  .main__places {
    margin: 27px auto 0;
  }
}

@media (max-width: 375px) {
  .main__places {
    margin: -14px auto 0;
  }
}

.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 60px;
}

@media (max-width: 1024px) {
  .place {
    grid-row-gap: 48px;
  }
}

@media (max-width: 768px) {
  .place {
    grid-row-gap: 44px;
  }
}

@media (max-width: 670px) {
  .place {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 375px) {
  .place {
    grid-row-gap: 0px;
  }
}

.places__place:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .places__place:last-of-type {
    margin-top: 26px;
  }
}

@media (max-width: 768px) {
  .places__place:last-of-type {
    margin-top: 0;
  }
}

@media (max-width: 320px) {
  .places__place:last-of-type {
    margin-top: 20px;
  }
}

.title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 4.5rem;
  font-weight: 900;
}

@media (max-width: 768px) {
  .title {
    font-size: 42px;
  }
}

@media (max-width: 375px) {
  .title {
    font-weight: 900;
    font-size: 32px;
  }
}

.title_place_place {
  max-width: 457px;
  margin: 80px 0 0;
  line-height: 0.87;
}

@media (max-width: 768px) {
  .title_place_place {
    line-height: 46px;
    max-width: 330px;
  }
}

@media (max-width: 375px) {
  .title_place_place {
    line-height: 35px;
    padding: 0 16px;
  }
}

@media (max-width: 375px) {
.title_place_place:first-child {
    margin-bottom: 36px;
}
}

.website {
  font-family: "Inter", Arial, sans-serif;
  max-width: 484px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (max-width: 375px) {
  .website {
    display: none;
  }
}

.website__url-heading {
  color: #aaaaaa;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: 0.15rem;
  margin: 0;
  padding-bottom: 15px;
}

.website__url-link {
  color: white;
  font-size: 1.125rem;
  transition: opacity linear 0.5s;
}

.website__url-link:hover {
  opacity: 0.5;
}

.place__image {
  max-width: 460px;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1024px) {
  .place__image {
    max-width: 440px;
  }
}

@media (max-width: 955px) {
  .place__image {
    max-width: 415px;
  }
}

@media (max-width: 885px) {
  .place__image {
    max-width: 390px;
  }
}

@media (max-width: 826px) {
  .place__image {
    max-width: 365px;
  }
}

@media (max-width: 768px) {
  .place__image {
    max-width: 340px;
  }
}

@media (max-width: 670px) {
  .place__image {
    margin: auto;
  }
}

@media (max-width: 375px) {
  .place__image {
    max-width: 100%;
  }
}

.paragraphs {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 484px;
}

@media (max-width: 1024px) {
  .paragraphs {
    max-width: 445px;
  }
}

@media (max-width: 768px) {
  .paragraphs {
    max-width: 355px;
  }
}

@media (max-width: 670px) {
  .paragraphs {
    max-width: 650px;
  }
}

.paragraphs__text {
  font-family: "Inter", Arial, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: -8px;
  line-height: 1.7;
}

.paragraphs__text:nth-of-type(2n) {
  margin-top: 6px;
}

@media (max-width: 1024px) {
  .paragraphs__text:nth-of-type(2n) {
    margin-top: 10px;
  }
}

@media (max-width: 375px) {
  .paragraphs__text:nth-of-type(2n) {
    margin-top: 10px;
    margin-bottom: -17px;
  }
}

@media (max-width: 1024px) {
  .paragraphs__text {
    line-height: 1.72;
  }
}

@media (max-width: 768px) {
  .paragraphs__text {
    font-size: 16px;
    line-height: 27px;
  }
}

@media (max-width: 375px) {
  .paragraphs__text {
    padding: 0 16px;
    margin-top: 21px;
  }
}

@media (max-width: 375px) {
  .paragraphs__text:last-of-type {
    margin-top: 11px;
  }
}

@media (max-width: 320px) {
  .paragraphs__text:last-of-type {
    margin-top: 11px;
  }
}

.video {
  box-sizing: border-box;
  max-width: 1184px;
}

.main__video {
  margin: 0 auto;
}

.title_place_video {
  font-family: "Inter", Arial, sans-serif;
  box-sizing: border-box;
  margin: 102px auto 35px;
  line-height: 1.07;
  max-width: 800px;
  text-align: center;
  align-items: center;
}

.text {
  font-size: 1.5rem;
  font-weight: 400;
}

.video__subtitle {
  font-family: "Inter", Arial, sans-serif;
  margin: 0 auto 65px;
  max-width: 640px;
  text-align: center;
  line-height: 1.406;
}

.video-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.52%;
}

.video-container__item {
  background-color: #000000;
  max-width: 583px;
  height: 323px;
  position: relative;
  background-size: cover;
}

.video-container__item_character_kamchatka {}

.video-container__wrapper {
  height: 100%;
  width: 100%;
  background-size: cover;
}

.video-container__wrapper_character_kamchatka {
  background-image: url(../images/kamchatka.jpg);
  border-radius: 5px;
  transition: transform 0.9s ease-in-out;
}

.video-container__item:hover .video-container__wrapper_character_kamchatka {
  transform: scale(1.01);
  opacity: 0.5;
}

.video-container__wrapper_character_Observatory {
  background-image: url(../images/observatoria.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  transition: transform 0.9s ease-in-out;
}

.video-container__item:hover .video-container__wrapper_character_Observatory {
  transform: scale(1.01);
  opacity: 0.5;
}

.video-container__icon-play {
  position: absolute;
  top: 29px;
  left: 31px;
  animation: pulse 1s ease-in-out infinite alternate-reverse;
}

.video-text {
  position: relative;
  font-family: "Inter", Arial, sans-serif;
  color: white;
  position: absolute;
  top: 155px;
  left: 31px;
  margin: 0;
}

.video-text__time {
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 3.6px;
  line-height: 1.055;
}

.video-text__title {
  padding-top: 1px;
  margin: 0;
  max-width: 322px;
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 1.055;
}

.video-text__author {
  max-width: 285px;
  margin-top: 125px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.055;
  margin-top: 15px;
}

/*comments*/

.comments {
  font-family: "Inter", Arial, sans-serif;
  max-width: 1184px;
  margin: 0 auto;
}

.main__comments {
  margin: 105px auto 0;
}

.title {
  font-family: "Inter", Arial, sans-serif;
}

.title_place_comments {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.105;
}

.text {}

.comments__subtitle {
  line-height: 1.406;
  max-width: 640px;
  margin: 42px auto 68px;
  text-align: center;
}

.cards {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-column-gap: 1.6%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.cards__item {
  max-width: 382px;
}

.cards__image {
  border-radius: 50%;
  width: 97px;
  height: 97px;
}

.cards__quote {
  margin: 34px 0 20px;
  line-height: 1.65;
}

.cards__author {
  font-size: 0.875rem;
  font-weight: 900;
  padding-bottom: 85px;
}

/*cover*/

.cover {
  width: 1184px;
  height: 594px;
  margin: 0 auto;
  background-color: #2a2c2f;
  position: relative;
  background-size: cover;
}

.cover__wrapper {
  height: 100%;
  width: 100%;
  background-size: cover;
}

.cover__wrapper_character_terminal {
  background-image: url(../images/cover-bg.jpg);
  transition: opacity linear 0.5s;
}

.cover:hover .cover__wrapper_character_terminal {
  opacity: 0.3;
}

.cover__title {
  max-width: 92.57%;
  position: absolute;
  top: 215px;
  left: 115px;
  text-align: center;
}

.cover__subtitle {
  font-family: "Inter", Arial, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  max-width: 382px;
  line-height: 1.406;
  position: absolute;
  bottom: 27px;
  left: 401px;
  text-align: center;
}

/*footer*/

.footer {
  font-family: "Inter", Arial, sans-serif;
  box-sizing: border-box;
  display: flex;
  max-width: 1184px;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  padding: 153px 0 100px;
}

.nav {
  font-family: "Inter", Arial, sans-serif;
}

.nav__list {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: row;
  list-style-type: none;
}

.nav__item {
  line-height: 1.64;
  padding-right: 1.5%;
  width: 100%;
  padding-right: 20px;
}

.nav__link {
  text-decoration: none;
  color: white;
  transition: opacity linear 0.5s;
}

.nav__link:hover {
  opacity: 0.5;
}

.footer__author {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.41;
}

/*@media (min-width: 1024px) {  
  .nav__list {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}*/