.video-text__title {
  padding-top: 2px;
  margin: 0;
  max-width: 322px;
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 1.055;
}

@media (max-width: 768px) {
  .video-text__title {
    font-size: 24px;
    line-height: 26px;
    max-width: 288px;
  }
}